<form method="post" action="{{ path('app_basket_delete', {'id': basket.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ basket.id) }}">
    <button class="btn">Delete</button>
</form>
