<form method="post" action="{{ path('app_basket_delete', {'id': basket.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce cette commande ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ basket.id) }}">
    <button class="button btnAction">Supprimer</button>
</form>
