// @import "lib/bootstrap";
@import "lib/forteawsome";
@import "lib/pagination";
@import "partials/form";
@import "partials/searchResultProduct";
@import "partials/modal";
@import "partials/filterSearch";

a {
    text-decoration: none;
    color: black;
}
.button {
    color: white;
    background: rgb(255,183,0);
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    border: none;
    font-size: 1rem;
}
.btnAction {
    display: block;
}
.error, #user_password_password li,  #user_email_email li {
    background: #f8d7da;
    color: #842029;
    padding: 1rem;
    margin-bottom: 1rem;
}
.success {
    color: #0f5132;
    background: #d1e7dd;
    padding: 1rem;
    margin-bottom: 1rem;
}

// BTN DE QUANTITITE
.lineQuantity {
    min-width: 6rem;
    a, button {
        width: fit-content;
        padding: 5px;
        background: rgb(255,183,0);
        font-size: 0.7rem;
        border: none;
    }
    .quantity {
        display: inline;
        text-align: center;
        width: 1.5rem;
    }
}