@use "lib/forteawsome";
@use "lib/pagination";
@use "partials/form";
@use "partials/searchResultProduct";
@use "partials/modal";
@use "partials/filterSearch";
@use 'partials/mixins' as *;
@use 'partials/variables' as *;
// @import "lib/bootstrap";

a {
    text-decoration: none;
    color: black;
}
// Affichage pourcentage promo card product
span.percentagePromo {
    padding: 0.3rem 0.6rem;
    font-size: 0.7rem;
    // @include gradient-bg(90deg);
    color: white;
    background: linear-gradient(90deg, rgb(255, 183, 0) 0%, rgb(255, 123, 0) 100%);
    border-radius: 0.2rem;
    font-weight: bold;
    max-width: 3rem;
}
.price {
    font-weight: bold;
    font-size: 1rem;
    color: $colorGradient;
}
.inline {
    display: inline;
}
del {
    display: block;
    color: hsl(0, 0%, 47%);
}
.button {
    color: white;
    background: rgb(255,183,0);
    padding: 6px 10px;
    border-radius: 3px;
    text-align: center;
    border: none;
    font-size: 1rem;
}
.btnAction {
    display: block;
}
.error, #user_password_password li,  #user_email_email li {
    background: #f8d7da;
    color: #842029;
    padding: 1rem;
    margin-bottom: 1rem;
}
.success {
    color: #0f5132;
    background: #d1e7dd;
    padding: 1rem;
    margin-bottom: 1rem;
}

// BTN DE QUANTITÉ
.lineQuantity {
    min-width: 6rem;
    a, button {
        width: fit-content;
        padding: 5px;
        background: rgb(255,183,0);
        font-size: 0.7rem;
        border: none;
    }
    .quantity {
        display: inline;
        text-align: center;
        width: 1.5rem;
    }
}