
html {
    font-size: 14px;
}
/* grid */
.containerBack {
    width: 96%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 1.8rem;

    .form {
        margin: 2rem auto;
        padding: 20px 30px;
        width: 90%;
        max-width: 600px;
        background: white ;
        form {
        overflow-x: scroll;
        }
    }
    h1 {
        font-weight: 700;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    
    h2 {
        font-size: 0.94rem;
        margin: 0;
    }
    
    h3 {
        font-size: 0.9rem;
        margin: 0;
    }
    h4 {
        font-size: 1.8rem;
    }

    aside {
        height: 100vh;
    
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.4rem;
            height: 2rem;
        }
    
        .logo img {
            width: 10rem;
            margin-top: 1.5rem;
            margin-left: 2rem;
            background-size: contain;
        }
        .close {
            display: none;
        }
    
      /* /////////////  SIDEBAR ////////////// */
    
        .sidebar {
            display: flex;
            flex-direction: column;
            height: 86vh;
            position: relative;
            top: 3rem;
        }
    
        h3 {
            font-weight: 500;
        }
    
        .sidebar a {
            display: flex;
            align-items: center;
            color: #7d8da1;
            gap: 1rem;
            margin-left: 2rem;
            height: 3rem;
            position: relative;
            transition: all 300ms ease;
        }
    
        .sidebar a span.material-icons {
            font-size: 1.6rem;
            transition: all 300ms ease;
        }
    
        .sidebar a:last-child {
            position: absolute;
            bottom: 2rem;
            /* width: 100%; */
        }
        .sidebar a.active {
            background: rgba(200, 184, 132, 0.18);
            color: rgb(255,183,0);
            margin-left: 0;
            font-weight: 700;
        }
        .sidebar a.active::before {
            content: '';
            width: 6px;
            height: 100%;
            /* background: #7380ec; */
            background: rgb(255,183,0);
        }
    
        .sidebar a.active span.material-icons {
            margin-left: calc(1rem - 3px);
        }
        .sidebar a:hover {
            color:  rgb(255,183,0);
        }
        .sidebar a:hover span.material-icons {
            margin-left: 1rem;
        }
    }
    main {
        margin-top: 3.4rem;

        .top-h1_profile {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .top-h1_profile {

            h1 {
                margin-bottom: 2rem;
            }
            
            .right-profile {
                display: flex;
                align-items: center;
                gap: 2rem;

                button {
                    border: none;
                    display: none;
                }
            }
        } 
    }
}


/* * RESPONSIVE TABLETTE */

@media screen and (max-width: 1200px) {
    .containerBack {
        width: 94%;
        grid-template-columns: 6rem auto;

        aside {
            .logo img {
                width: 6rem;
                margin-left: unset;
            }
            .sidebar h3 {
                display: none;
            }
            .sidebar a {
                width: 5.6rem;
            }
            .sidebar a:last-child {
                position: relative;
                margin-top: 3rem;
            }   
        }
    }
}
    
/* * RESPONSIVE MOBILE */
@media screen and (max-width: 768px) {
    .containerBack {
        width: 100%;
        grid-template-columns: 1fr;

        h2 {
            font-size: 1rem;
        }
        .menuDisplay {
            display: block !important;
        }
        @keyframes slideMenuMobile {
            to {
                left: 0;
            }
        }

        aside {
            background: white;
            width: 18rem;
            height: 100vh;
            padding-right: 1.8rem;
            box-shadow: 1rem 3rem 4rem rgba(132, 139, 200, 0.18);
            z-index: 15;
            left: -100%;
            top: 0;
            position: fixed;
            display: none;
            animation: slideMenuMobile 400ms ease forwards;

            .logo img {
                width: 10rem;
                margin-left: 3rem;
            }
            .sidebar h3 {
                display: inline;
            }
            .sidebar a {
                width: 100%;
                height: 3.4rem;
            }
            .close {
                display: inline-block;
                cursor: pointer;
            }
        }

        main {
            margin-top: 8rem;
            padding: 0 1rem;
        
            .right-profile {
                position: fixed;
                top: 0;
                left: 0;
                background-color: white;
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 2rem;
                height: 4.6rem;
                padding: 0 0.8rem;
                box-shadow: 0 1rem 1rem  rgba(132, 139, 200, 0.18);
                z-index: 14;
            }

            .top-h1_profile .right-profile button {
                display: inline-block;
                background: transparent;
                cursor: pointer;
                color: var(--color-dark);
                position: absolute;
                left: 1rem;
                font-size: 2rem;
            }
    
        }
    }

}