div.form {
    width: 80%;
    max-width: 500px;
    margin: 2rem auto;
    background: white ;
    padding: 20px 40px;
    overflow-x: scroll;

    h1 {
        text-align: center;
    }
    h1, h2 {
        font-size: 1.2rem;
        margin: 1.1rem 0 0.7rem 0;
    }
    h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }
    p {
        margin: 0;
    }
    div.formChild {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    div.containerImages {
        background: $gray;
        border-radius: 0.4rem;
        margin-bottom: 1rem;
    }
    div.formImages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0.5rem 1.5rem;
        border-radius: 0.4rem;
    }
    div:last-child .formImages {
        margin-bottom: 1rem;
        background: red;
    }
    img {
        width: 5rem;
    }
    label {
        font-weight: 600;
    }
    .formChild input:not([type='checkbox'],[type="file"], .quantity) {
        border-bottom: 1px solid gray;
    }
    .formChild select {
        margin-top: 0.2rem;
        background: $gray;
        padding: 0.3rem 0.5rem;
        border-radius: 0.4rem;
    }
    .form .btnAddItem {
        margin-top: 0.2rem;
        max-width: fit-content;
    }
    .form .btnSubmitForm {
        width: 100%;
    }
    .newProductInfo {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .btnAddProduct {
        margin-bottom: 2rem;
    }
    
}

