@use '../../../shared/styles/partials/variables' as *;

.containerTable {
    background: white;
    padding: 0 1rem;
    overflow-x: scroll;
}
table {
    button {
        width: 100%;
    }
    thead:first-child {
        border-bottom: solid 2.5px  rgb(255,183,0);
    }
    thead th:first-child {
        margin-bottom: 0.3rem;
    }
    thead .colPriceExclVat, thead .colPriceInclVat {
        min-width: 10rem;
    }
    thead .colCategory {
        min-width: 10rem;
    }
    thead .colLabel {
        min-width: 10rem;
    }
    .btnAction:first-child {
        margin-bottom: 0.2rem;
    }
    img {
        width: 4rem;
        background-size: contain;
    }
}
div.newBtnContainer {
    text-align: center;
    margin: 4rem 0;
}
.filterSearchDate div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.filterSearchDate div:first-child {
    margin-bottom: 1rem;
}
.inputFilterDate {
    display: inline-block;
    background: $darkgray;
    width: 125px;
    border-radius: 0.4rem;
    padding: 0.4rem 0.5rem;
    border: none;
}
.filterSearchSelect option {
    max-width: 5rem;
}
a.sortable {
    display: block;
}

table .colId {
    width: 11rem;
}

