    <!-- Footer -->
    <footer>
        <div class="logoFooter">
            <img id="logo" src="{{ asset("build/images/la-Nîmes'alerie-logos.png") }}" alt="Logo La Nîmes'Alerie">
        </div>
        <div class="about">
            <h3>A propos</h3>
            <div class="aboutContent">
                <p>© Animalerie 2022</p><span>/</span> 
                <a a href="{{ path("app_home_legal_notice") }}">Mentions légales</a>  <span>/</span> 
                <a href="{{ path("app_home_terms_of_sales") }}">Conditions générales de vente</a>  <span>/</span> 
                <a href="{{ path("app_home_privacy_policies") }}">Politiques de confidentialités</a>
            </div>
        </div>
    </footer>