<form method="post" action="{{ path('app_brand_delete', {'slug': brand.slug}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cete marque ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brand.id) }}">
    <button class="button btnAction">Supprimer</button>
</form>
