@use "lib/bootstrap.scss";
@use "../../shared/styles/main.scss";
@use '../../shared/styles/partials/variables' as *;
@use "partials/table";
@use "partials/aside";


body {
    background: #f7f7f9;
}
input, select {
    outline: none;
    border: none;
}

.container {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 4.5rem;
}
.pagination {
  padding: 3rem 0;
  margin: 0 auto;
}
.sortable,
.asc,
.desc {
    display: block;
    &:after {
        content: '⬍';
        padding-left: 0.4rem;
        font-weight: 900;
      }
 &.asc {
    &:after {
      padding-left: 0.4rem;
      content: '▴';
      position: relative;
      top: -5px;
    }
  }
  &.desc {
    &:after {
      padding-left: 0.4rem;
      content: '▾';
      position: relative;
      top: 5px;
    }
  }
}

.btnBack {
  display: inline-block;
}
div ul li {
  list-style-type: none;
}
textarea {
  resize: none;
  padding: 5px 10px;
  outline: none;
  min-height: 6rem;
}

.btnTopAdmin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}