@import "lib/bootstrap.scss";
@import "variables";
@import "../../shared/styles/main.scss";
@import "partials/form";
@import "partials/table";
@import "partials/aside";


body {
    background: #f7f7f9;
}
input, select {
    outline: none;
    border: none;
}

.container {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 4.5rem;
}
.pagination {
  padding: 3rem 0;
  margin: 0 auto;
}
.sortable,
.asc,
.desc {
    display: block;
    &:after {
        content: '⬍';
        padding-left: 0.4rem;
        font-weight: 900;
      }
 &.asc {
    &:after {
      padding-left: 0.4rem;
      content: '▴';
      position: relative;
      top: -5px;
    }
  }
  &.desc {
    &:after {
      padding-left: 0.4rem;
      content: '▾';
      position: relative;
      top: 5px;
    }
  }
}

.btnBack {
  margin-left: 2rem;
  margin-top: 2rem;
  display: inline-block;
}
div ul li {
  list-style-type: none;
}
// button:hover {
//   background-color: black;
// }