{% extends 'front/base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <main>
        <section id="rgpd" class="container-me">
            <h1>MENTIONS LÉGALES</h1>

            <div class="rgpdDiv">
                <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site La Nîmes'Alerie l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
            </div>

            <div class="rgpdDiv">
                <h2>Edition du site</h2>
                <p>Le présent site, accessible à l’URL la-nimes-alerie.netkube.net (le « Site »), est édité par : La Nîmes'Alerie , société au capital de 50000 euros, inscrite au R.C.S. de NIMES sous le numéro RCS VANNES B 514 919 844, dont le siège social est situé au 8 rue de l'animalerie 30000 NIMES, représenté(e) par Gerard Capard dûment habilité(e)</p>
            </div>

            <div class="rgpdDiv">
                <h2>Hébergement</h2>
                    <p>Le Site est hébergé par la société NetKube, situé 8 rue de l'hebergement 42300
                    ROANNE, (contact téléphonique ou email : +33610283448).</p>
            </div>

            <div class="rgpdDiv">
                <h2>Directeur de publication</h2>
                <p>Le Directeur de la publication du Site est Ryan Bouanani.</p>
            </div>

            <div class="rgpdDiv">
                <h2>Nous contacter</h2>
                <p>Par téléphone : +33622868794</p>
                <p>Par email : laNîmesAlerie@gmail.com</p>
                <p>Par courrier : 8 rue de l'animalerie 30000 NIMES</p>
            </div>

            <div class="rgpdDiv">
                <h2>Données personnelles</h2>
                <p>Le traitement de vos données à caractère personnel est régi par notre Charte du
                respect de la vie privée, disponible depuis la section Politiques de confidentialités, conformément au Règlement Général sur la Protection des
                Données 2016/679 du 27 avril 2016 («RGPD»).</p>
            </div>
        </section>
    </main>
{% endblock %}