{% extends 'front/base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}
    <main>
        <section id="rgpd" class="container-me">
            {% apply markdown_to_html %}
                ## 1.  Champ d‘application
                Les présentes Conditions générales de vente s’appliquent dans leur version en vigueur au moment de la commande à toute commande dans la boutique en ligne de La Nîmes'Alerie, accessible via accessible via [https://la-nimes-alerie.netkube.net](https://la-nimes-alerie.netkube.net).

                

                ## 2.  Formation du contrat dans la boutique en ligne
                La commande passée par vos soins vaut conclusion du contrat. Toutes nos offres dépendent néanmoins de notre propre approvisionnement et doivent par conséquent être comprises « sous réserve des stocks disponibles ». Nos produits, y compris les produits en promotion, ne sont vendus qu’en quantités correspondant aux besoins habituels d’un foyer. Nous conservons le texte du contrat sur votre compte client.

                

                

                ## 3.  Informations sur le droit de rétractation | droit de rétractation & effets de la rétractation
                3.1      Droit de rétractation

                Vous avez le droit de rétracter votre commande sans donner de motif dans un délai de quatorze jours suivant la date où vous-même ou un tiers désigné par vous, autre que le transporteur, prend physiquement possession du dernier bien ou lot ou de la dernière pièce commandée.

                

                Pour exercer votre droit de rétractation, vous devez notifier à Service client La Nîmes'Alerie

                Par courrier : 8 rue de l'animalerie 30000 NIMES

                E-mail : laNîmesAlerie@gmail.com

                Téléphone : 06 22 86 87 94

                (du lundi au samedi, de 08 h 00 à 20 h 00 – appel gratuit à partir du réseau fixe français ou d’un réseau mobile français)

                

                Votre décision de rétracter votre commande au moyen d’une décision dénuée d’ambiguïté (par exemple, lettre envoyée par la poste, courriel électronique). À cet effet, vous pouvez utiliser le modèle de formulaire de rétractation que vous trouverez ici : télécharger directement.

                Pour que le délai de rétractation soit respecté, il suffit de nous transmettre votre communication relative à l’exercice du droit de rétractation avant l’expiration de ce délai.

                

                3.2 Effets de la rétractation
                En cas de rétractation de votre part, nous vous rembourserons tous les paiements reçus de vous, y compris les frais de livraison (à l’exception des frais supplémentaires découlant du fait que vous avez choisi, le cas échéant, un mode de livraison autre que le mode moins coûteux de livraison standard proposé par nous), sans retard excessif et, en tout état de cause, au plus tard quatorze jours à compter du jour où nous sommes informés de votre décision de rétractation. Nous procéderons au remboursement en utilisant le même moyen de paiement que celui que vous aurez utilisé pour la transaction initiale, sauf si nous avons convenu expressément d’un moyen différent ; en tout état de cause, ce remboursement n’occasionnera pas de frais pour vous.

                Nous pouvons différer le remboursement jusqu’à ce que nous ayons reçu le bien ou jusqu’à ce que vous ayez fourni une preuve d’expédition du bien, la date retenue étant celle du premier de ces faits.

                

                Vous devrez nous renvoyer ou nous restituer le bien sans retard excessif et, en tout état de cause, au plus tard quatorze jours après que vous nous ayez communiqué votre décision de rétractation. Ce délai est réputé respecté si vous renvoyez le bien avant l’expiration du délai de quatorze jours. Nous prendrons en charge les frais de renvoi du bien. Votre responsabilité n’est engagée qu’à l’égard de la dépréciation du bien résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de ce bien.

                

                ATTENTION :

                Le droit de rétractation ne peut être exercé notamment en cas de fourniture de biens susceptibles de se détériorer ou de se périmer rapidement ainsi que de biens scellés ne pouvant être renvoyés pour des raisons de protection de la santé ou d’hygiène et qui ont été descellés par le consommateur après la livraison, conformément à l’article L221-28 du Code de la Consommation.

                

                ## 4.  Prix | validité
                Les prix affichés dans la boutique en ligne s’entendent en Euros, et toutes taxes comprises (TTC avec une T.V.A. au taux en vigueur), hors participation aux frais d’expédition.

                

                

                ## 5.  Frais de livraison
                Le montant de commande minimum est de 15,00 EUR (hors frais de port). Les frais de livraison s’élèvent à 4,99 € par commande. Pour toute commande dont le montant est compris entre à 39,00 EUR et 48,99 EUR, les frais de livraison s’élèvent à 1,99€. Si la valeur des produits est égale ou supérieure à 49,00 €, la livraison est gratuite. Les produits seront livrés à votre domicile en France Continentale selon les modalités de livraison standard. Par « valeur des produits », on entend le prix T.V.A. comprise, hors frais d’expédition, déduction faite de toute remise.

                

                

                ## 6.  Retours
                Au-delà du droit de rétractation prévu par la loi, il vous est possible de retourner les produits dans un délai de trente jours après leur réception s’ils ne vous conviennent pas.

                Si vous souhaitez nous retourner des produits commandés dans notre boutique en ligne, nous vous proposons les modalités de retour décrites ci-dessous.

                Vous pouvez déposer les produits commandés dans un point de service de DPD / Chronopost: https://www.dpd.fr/recherche-relais

                Veuillez utiliser l’étiquette de retour que vous trouverez dans votre colis pour les retours. La Nîmes'Alerie ne prendra pas en charge les frais liés à un autre mode de retour.

                

                IMPORTANT : Votre article provenant de l’entrepôt de la boutique en ligne la-nimes-alerie.netkube.net et non pas du stock d’un magasin physique la Nîmes'Alerie, il doit être retourné à ce même entrepôt. Pour des raisons évidentes de gestion des stocks et traçabilité des produits, votre article ne peut être retourné dans aucun magasin la Nîmes'Alerie de France.

                

                ## 7.  Options de livraison
                D’une façon générale, les produits ne peuvent être livrés qu’en France Continentale. Le délai de livraison pour les colis en France Continentale est actuellement de 2 à 4 jours ouvrables pour toute commande avant 16h00.

                

                

                ## 8.  Disponibilité des produits
                En cas de commande d’un article qui s’avère indisponible, La Nîmes'Alerie se réserve le droit d’annuler la commande, à condition que l’acheteur en soit informé. Nous remboursons immédiatement toute contrepartie éventuellement déjà reçue. Les produits ne sont livrés qu’en quantités correspondant aux besoins habituels d’un foyer.

                

                

                ## 9.  Paiement
                Vous pouvez payer par carte de crédit ou par PayPal. Nous nous réservons le droit de n’accepter que certains modes de paiement. Quel que soit le mode de paiement choisi, vous recevez par courriel la facture correspondant à votre commande.

                

                9.1      Paiement par carte de crédit

                En cas de paiement par carte de crédit, le montant dû est débité dans la semaine qui suit l’envoi des produits. Vous pouvez payer par carte VISA ou par MasterCard.

                

                9.2      Paiement par PayPal

                

                Vous avez la possibilité de régler nos services et nos marchandises en utilisant la fonction Reference Transaction (également appelée « autoriser & encaisser ») de PayPal (Europe) SARL et Cie, S.C.A., 22-24 Boulevard Royal, L-2449 Luxemburg (dénommée ci-après : Pay-Pal). L’usage de ce mode de paiement nécessite la délivrance d’une autorisation de prélève-ment sur le compte PayPal que vous avez sélectionné respectivement dans le même ordre d’idées en faveur de La Nîmes'Alerie. En utilisant cette fonction, vous nous autorisez donc à l’avenir à encaisser les paiements dus de votre part de manière unique ou récurrente (à intervalles réguliers ou irréguliers) du compte PayPal sélectionné.

                

                Pour être en mesure d’utiliser ce mode de paiement, vous devez être enregistré auprès de PayPal, vous identifier avec vos données d’accès et nous confirmer une seule fois les instruc-tions de paiement dans la section « Paiement par prélèvement bancaire du commerçant ». À cette fin et dans le cadre du processus de commande dans notre boutique en ligne, vous se-rez redirigé initialement vers un site de PayPal. Grâce à votre confirmation de la fonction de paiement en question, nous sommes autorisés à effectuer le prélèvement immédiatement du compte PayPal respectif. Dans le même temps, PayPal est chargé de mettre à disposition les montants que nous demandons par le biais d’une procédure de recouvrement conformément aux conditions d’utilisation de PayPal. En règle générale, le débit du compte PayPal pour le traitement des paiements en notre faveur a lieu le même jour. Il n’est toutefois pas exclu que nous ne percevions dans un premier temps qu’un montant partiel, et par la suite, le montant total de la créance.

                Vous avez la possibilité de modifier à tout moment l’autorisation de prélèvement octroyée en notre faveur par La Nîmes'Alerie dans votre profil PayPal sous la rubrique « Paiements par prélèvement bancaire du commerçant » ou de révoquer cette autorisation avec effet pour l’avenir.

                Si vous commandez chez nous sans compte client, la fonction de transaction de référence Paypal n’est pas disponible. Cependant, vous pouvez toujours payer avec Paypal. Ce paiement via PayPal est pratique et sécurisé. Vous pouvez facilement payer en deux clics. Comme tous les clients de PayPal, vous bénéficiez également de la protection des acheteurs de PayPal. Paypal est uniquement disponible comme méthode de paiement dans la boutique en ligne la Nîmes'Alerie.
        

                ## 10.  Garantie
                Si un produit livré présente manifestement un défaut de matière ou de fabrication, y compris un dommage subi pendant le transport, vous devez nous prévenir immédiatement ou signaler le défaut au livreur du transporteur, qui vous a livré le produit. L’omission de cette réclamation n’a aucune incidence sur les droits dont vous bénéficiez en vertu de la loi mais, vous nous aidez à pouvoir faire valoir nos propres droits à l’encontre du transporteur ou de la compagnie d’assurance du transporteur ou de nos fournisseurs. En cas de vices des produits apparus pendant la durée de garantie prévue par la loi, vous avez légalement le droit d’exiger, soit la réparation du vice, soit la livraison d’un produit de remplacement. Si les conditions prévues par la loi sont réunies, vous pouvez demander une réduction du prix ou l’annulation de votre contrat et la réparation du préjudice subi, y compris en lieu et place de l’exécution du contrat, et le remboursement des frais exposés en pure perte.

                Si nous accordons une garantie commerciale, les détails de celle-ci résultent des conditions de garantie jointes au produit. Les droits de toute garantie commerciale peuvent être exercés sans préjudice des droits et actions prévus par la loi.

                

                ## 11.  Protection des données
                Pour savoir comment et dans quelle mesure nous recueillons, traitons et utilisons vos données personnelles, nous vous invitons à consulter notre politique de confidentialité: https://la-nimes-alerie.netkube.net/privacy_policies
                         

                ## 12.  Réserve de propriété | revente
                Les produits restent notre propriété jusqu’au paiement intégral de leur prix. Toute revente à titre professionnel est interdite.
            {% endapply %}
        </section>
    </main>
{% endblock %}