{% extends 'front/base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<section class="container-me">
    <h1 class="h1Account">Mon compte</h1>

    <a class="linkAccount" href="{{ path('app_customer_order')}}">
        <div class="divAccount">
            <div class="left">
                <i class="fa-solid fa-bag-shopping"></i>
                <p>Commandes</p>
            </div>
            <div class="right">
                <button class="btnUpdate"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </a>
    <a class="linkAccount" href="{{ path('app_customer_personalData')}}">
        <div class="divAccount">
            <div class="left">
                <i class="fa-regular fa-user"></i>
                <p>Données personnelles</p>
            </div>
            <div class="right">
                <button class="btnUpdate"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </a>
    <a class="btn logout" href=" {{ path('app_logout') }}">Déconnexion</a>
</section>


{% endblock %}
