{% extends 'back/base.html.twig' %}

{% block title %}Ajouter un nouveau produit{% endblock %}

{% block body %}

    <a class="button btnBack" href="{{ path('app_product_index') }}">Retour à la liste</a>

    {{ include('back/product/_form.html.twig', { 
        'button_label': 'Ajouter', 'title': 'Ajouter Produit'
    }) }}

{% endblock %}
