@use "../../shared/styles/main";
@use './scss/variables' as *;
@use './scss/mixins' as *;
@use './scss/header' as *;
@use './scss/bestSales' as *;
@use './scss/brandtsCover' as *;
@use './scss/bestBrands' as *;
@use './scss/blog' as *;
@use './scss/testimonals' as *;
@use './scss/about' as *;
@use './scss/footer' as *;
@use './scss/reinsurance' as *;
@use './scss/product' as *;
@use './scss/shoppingCart' as *;
@use './scss/category' as *;
@use './scss/processBar' as *;
@use './scss/customer' as *;
@use './scss/authentication' as *;
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Alatsi&family=Bangers&family=Nunito:wght@400;600;700;800&family=Puritan&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $nunito, sans-serif;
}
body::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    @include gradient-bg();
}

input {
    border: none;
    outline: none;
}
.none {
    display: none;
}

a, footer p {
    text-decoration: none;
    color: hsl(0, 0%, 13%);;
}
li {
    list-style-type: none;
}

.btn {
    background-color: $orange;
    padding: 10px 20px;
    border-radius: 50px;
    // font-family: $alatsi;
    color: $white;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    min-width: 140px;
}

.btn-dark {
    background-color: $black;
    color: $white;
}
.container-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    div.containerDiv {
        width: 90%;
        max-width: 450px;
    }
}
section {
    margin-bottom: 7rem;
}
.percentagePromo {
    padding: 0.3rem 0.6rem;
    font-size: 0.7rem;
    color: $white;
    @include gradient-bg(90deg);
    border-radius: 0.2rem;
    font-weight: bold;
    max-width: 3rem;
}

h1.h1Home {
    font-family: $title-police;
    font-size: $h1;
    letter-spacing: 5px;
    margin-bottom: 0.3rem;
    z-index: 20;
}
h2.h2 {
    font-size: $h2;
    width: max-content;
    margin: 0 auto;
}
h2.h2:not(.h2Newletter) {
    margin-bottom: 4rem;
}
h3 {
    font-size: $h3;
}
h2.h2:not(.h2Newletter)::after,
h2.h2:not(.h2Newletter)::before {
    content: "";
    display: inline-block;
    background: url(/assets/img/pawDog.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.7rem;
    height: 1.7rem;
    margin: 0 0.3rem;
    top: 5px;
    position: relative;
}


    // * ARROWS SLIDER
main {
    .arrow_left {
        left: -35px;
        background: url(/assets/img/arrow-left-orange.svg);
    }

    .arrow_right {
        right: -35px;
        background: url(/assets/img/arrow-right-orange.svg);
    }
    .arrow_left, .arrow_right {
        color: $white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        width: 30px;
        height: 30px;
        background-size: contain;
        cursor: pointer;
        z-index: 10;
    }
    @media screen and (min-width: 500px) {
        .arrow_left {
            left: -50px;
        }
        .arrow_right {
            right: -50px;
        }
    }
    
@media screen and (max-width: 250px) {
    body {
        width: 110%;
        main .arrow_left {
            left: -20px;
        }
        main .arrow_right {
            right: -20px;
        }
        .h1Home {
            font-size: 3.2rem;
        }
    }

}
}


// * CONTAINER ME
.container-me {
    .carrouselContainer {
        width: 80%;
        position: relative;
        margin: 0 auto 3rem auto;
    }
    .carrousel.carrouselProducts {
        width: 100%;
        gap: 2rem;
    }
    .carrousel {
        height: 100%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        overflow-x: scroll;
        overflow-y: visible;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
    .carrousel::-webkit-scrollbar {
        display: none;
    } 

    .card {
        position: relative;
        flex: 0 0 auto;
        scroll-snap-align: center;
        text-align: center;
        padding: 2rem 0;
        width: 150px;
        height: 16rem;
        box-shadow: 0 0 7px rgb(0 0 0 / 20%);
        background: $white;
        border-radius: 5px;
        border: 1px solid hsl(0, 0%, 93%);
    }
    span.badge {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0.3rem 0.6rem;
        font-size: 0.7rem;
        color: $white;
        @include gradient-bg(90deg);
        border-radius: 0.2rem;
        font-weight: bold;
    }
    .card img {
        height: 100px;
    }

    h3.title-product {
        font-size: 1.1rem;
        margin-bottom: 2px;
    }

    div.stars-reviews {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        margin-bottom: 0.1rem;
    }
    div.stars {
        margin: 0;
        display: inline;
    }
    div.stars i {
        font-size: 0.9rem;
    }
    div.stars i.yellow {
        color: #FFE600;
    }
    .p-1 {
        font-weight: bold;
        color: $colorGradient;
        font-size: 0.8rem;
        display: inline;
    }
    .price {
        font-weight: bold;
        font-size: 1rem;
        color: $colorGradient;
    }
    .priceInline {
        display: inline;
    }
    del {
        display: inline;
        color: hsl(0, 0%, 47%);
    }
    .btnAddBasket.cover {
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    .btnAddBasket {
        width: 100%;
        font-size: 0.7rem;
        margin-bottom: 8px;
        border-radius: 5px;
        border: none;
    }

    @media screen and (max-width: 500px) {
        main {
            .carrouselContainer {
                width: 250px;
            }
            .carrousel {
                gap: 
                1.61rem;
            }
            .arrow_left {
                left: -35px;
            }
            .arrow_right {
                right: -35px;
            }
        }
    }

    @media screen and (min-width: 668px) {
        h2.h2 {
            font-size: 1.8rem;
        }
        .card {
            width: 180px;
            height: 18rem;
            img {
                height: 120px;
            }
        }
        div.stars i {
            font-size: 1rem;
        }
        .p-1 {
            font-size: 0.9rem;
        }
        .price {
            font-size: 1.3rem;
        }
        .btnAddBasket {
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
}
#new-products {
    padding-top: 2rem;
}

// Arrow scroll top

.arrowScrollTop {
    position: fixed;
    right: -50px;
    bottom: 40px;
    background: url(/assets/img/arrowGoTop.svg) no-repeat;
    width: 40px;
    height: 40px;
    background-size: cover;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}
.arrowScrollTop.display {
    opacity: 1;
    transition: 0.4s ease-in-out;
    right: 40px;
}

@media screen and (min-width: 868px) {
    .btn-dark:hover {
        background-color: $orange;
        color: $white;
    }    
}

