{% extends 'back/base.html.twig' %}

{% block title %}Ajouter un client{% endblock %}

{% block body %}
    <h1>Create new Customer</h1>

    {{ include('back/customer/_form.html.twig') }}

    <a href="{{ path('app_customer_index') }}">back to list</a>
{% endblock %}
