<form method="post" action="{{ path('app_promotion_delete', {'slug': promotion.slug}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette promotion ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promotion.id) }}">
    <button class="button btnAction">Supprimer</button>
</form>
