.filterSearch {
    width: 95%;
    border-bottom: 1px solid gray;
    margin-bottom: 0.5rem;
}
.filterSearchSelect {
    background: rgba(132, 139, 200, 0.18);
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    max-width: 6rem;
}