
div.formChild {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.btnSubmitForm {
    width: 100%;
}  
div.form {

    h1 {
        text-align: center;
    }
    h1, h2 {
        font-size: 1.2rem;
        margin: 1.1rem 0 0.7rem 0;
    }
    h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }
    p {
        margin: 0;
    }
    img {
        width: 3rem;
    }
}
    div.containerImages {
        background: rgba(132, 139, 200, 0.18);
        border-radius: 0.4rem;
        margin-bottom: 1rem;
    }
    div.formImages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0.5rem 1.5rem;
        border-radius: 0.4rem;
    }
    div:last-child .formImages {
        margin-bottom: 1rem;
        background: red;
    }
    label {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .formChild input:not([type='checkbox'],[type="file"], .quantity) {
        border-bottom: 1px solid gray;  
        background: unset;
    }
    .formChild select {
        margin-top: 0.2rem;
        background: rgba(132, 139, 200, 0.18);
        padding: 0.3rem 0.5rem;
        border-radius: 0.4rem;
    }
    .form .btnAddItem {
        margin-top: 0.2rem;
        max-width: fit-content;
    }
    .btnSubmitForm {
        width: 100%;
    }
    .newProductInfo {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .btnAddProduct {
        margin-bottom: 2rem;
    } 
    input[type='checkbox'] {
        margin-top: 0.5rem;
        width: 1rem;
    }

