.resultProductSearch {
    display: flex;
    flex-direction: column;
    // gap: 0.5rem;
    background: white;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-height: 9rem;
    // z-index: 60;
    margin-bottom: 2rem;
    &::-webkit-scrollbar {
        width: 8px;
        height: 10px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(255,183,0);
    }
    p {
        text-align: center;
        margin: 0;
        font-weight: 600;
        margin: 1rem;
        &.priceProduct {
            color: rgb(255,123,0);
        }
    }
}
.none {
    display: none;
}
.product {
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;

    .productTitle {
        font-weight: 700;
    }
    img {      
        width: 2.5rem;
    }
}
.product:hover {
    background: rgba(132, 139, 200, 0.18);
}
