.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    z-index: 50;
}
.modalContainer {
    position: fixed;
    right: 50%;
    top: 50%;
    background: white;
    width: 400px;
    transform: translate(50%, -50%);
    padding: 10px 30px;
    z-index: 51;
    max-height: 90vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255,183,0,1);
    }

    h2 {
        text-align: center;
    }

    .closeModal {
        border: none;
        padding: 0;
        position: absolute;
        top: 15px;
        right: 15px;
        i {
            background: white;
            color: rgb(255, 183, 0);
            font-size: 1.5rem;
        }
    }
}
.modalContent {
    padding: 10px 0;
    select {
        width: 100%;
    }
}
.overlayClose {
    display: none;
}

@media screen and (max-width: 500px) {
    .modalContainer {
        width: 80%;
    }
}