div.authentication {

    h1 {
        text-align: center;
    }
    h1, h2 {
        font-size: 1.2rem;
        margin: 1.1rem 0 0.7rem 0;
    }
    a {
        text-decoration: underline;
        color: #551A8B;
    }
    button {
        margin-bottom: 1rem;
    }
}