@use './variables' as *;
@use './mixins' as *;


#shoppingCartSection {
    h1 {
        margin: 3rem 0 2rem 0;
    }
    h2:not(.titleAndUpdateContainer) {
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1rem;
    }
    p:not(.info) {
        font-size: 1.1rem;
    }
    .form {
        background: unset;
        width: 100%;
    }
    .titleAndUpdateContainer {
        margin-bottom: 1rem;
    }
    .shoppingCartContainer {
        background: #f6f6f6;
        width: 95%;       
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px;
        .contentShoppingCart {
            width: 100%;
            margin-bottom: 2rem;
        }
        .resumeShoppingCart {
            width: 100%;
            background: #f6f6f6;
        }
        .titleAndUpdateContainer {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }
    .topShoppingCart {
        display: flex;
        gap: 4rem;
    }
    .totalLine, .productPrice {
        font-size: 1.1rem;
        font-weight: bolder;
    }
    .lineShoppingCart {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1.3rem;
        
        img {
            width: 5rem;
        }
        .rightShoppingCart {
            display: flex;
            flex-direction: column;
            gap: 0rem;
            width: 100%;
        }
        .titleAndPrice {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            min-width: unset;
            .promoInfo {
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }
        }
        .productTitle {
            font-size: 1.2rem;
            font-weight: 600;
        }
        .productPrice {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            color: $orange;
            .price {
                font-size: 1.1rem;
            }
        }
        .lineQuantity {
            gap: 0.5rem;
            min-width: unset;
        }
        .quantityAndTotalLineAndDelete {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        a {
            border: none;
            i.fa-trash {
                font-size: 1rem;
            }
        }
    }
    .infoCartContainer {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        margin-bottom: 0.3rem;  
        padding: 10px 0;
    }
    .totalShoppingCartContainer, .shippingContainer {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    .btnUpdate {
        font-size: 1rem;
        border: none;
        background: none;
    }
    .fieldMeanOfPayment {
        display: flex;
        gap: 0.7rem;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
    } 
    .imagesMeanOfPayment {
        display: flex;
        align-items: center;
        img {
            width: 3rem;
            flex-wrap: wrap;
        }
    }
    .orderValid {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 300px) {
    #shoppingCartSection {
        .meanOfPayment {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}
@media screen and (min-width: 400px) {
    #shoppingCartSection {
        h2 {
            font-size: 1.3rem;
        }
    }
}
@media screen and (min-width: 500px) {
    #shoppingCartSection {
        .shoppingCartContainer {
            padding: 20px 30px;
        }
    }
}
@media screen and (min-width: 500px) {
    #shoppingCartSection {
        .shoppingCartContainer {
            padding: 20px 40px;
        }
        .lineShoppingCart {
            img {
                width: 6rem;
            }
            .rightShoppingCart {
                gap: 1rem;
            }
        }
    }
}
@media screen and (min-width: 850px) {
    #shoppingCartSection {
        .shoppingCartContainer {
            flex-direction: row;
            gap: 2rem;
            padding: 30px 30px;
            width: 100%;
            flex-direction: row;
            .resumeShoppingCart {
                width: 50%;
            }
        }
        .lineShoppingCart {
            .rightShoppingCart {
                flex-direction: row;
                gap: 1.5rem;
            }
            img {
                width: 7rem;
            }
        } 
        .quantity {
            margin: 0 10px;
        }
        .shoppingCart {
            width: 70%;
        }
        .lineShoppingCart {
            gap: 1.5rem;
        }
        .rightShoppingCart .titleAndPrice {
            min-width: 6rem;
        }
    }
}
@media screen and (min-width: 1000px) {
    #shoppingCartSection {
        .shoppingCartContainer {
            padding: 30px 40px;
        }
        .rightShoppingCart .titleAndPrice {
            min-width: 10rem;
        }
    }
}